html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body{width:100%;cursor: pointer}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
img{border:0;vertical-align:middle}
input{border: 0;outline: none}
ul,ol{list-style:none}
a{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}
.left{float: left;display: inline;}
.right{float: right;display: inline;}
.clear:after{content: "";display: block;clear: both;}
.clear{zoom: 1;}
.cjd-wrap{width: 100%;min-width:1200px;}
/*头部start*/
.cjd-wrap-header{width: 100%;height: 168px;background: url(../images/CJD-img/xj-header-bg.png) no-repeat center;}
.cjd-header{width: 1200px;height: 168px;margin: 0 auto;}
.cjd-header-top{width: 1200px;margin: 0 auto;}
.cjd-header-top p a{display:inline-block;color: #999;font-size: 12px;padding: 0 12px;}
.cjd-header-top p i{color: #bbbbbb;font-size: 12px;font-style: normal;}
.cjd-header-center{width: 1200px;}
.cjd-form{width: 286px;height: 36px;margin: 36px 96px 0 150px;border: 1px solid #ff7066;border-radius: 24px;padding-left: 18px;}
.cjd-search{width: 230px;height: 24px;font-size: 14px;margin-top: 6px;padding: 1px 10px 2px 0; color: #666666;}
.cjd-but{width: 40px;height: 33px;background: url("../images/CJD-img/header-bg-img.png") no-repeat left -27px;}
.cjd-header-tab{margin-top: 36px;}
.cjd-header-tab-style{color: #FF7066;border-bottom: 4px solid #FF7066}
.cjd-header-tab a{display: inline-block;font-size: 22px;color: #666666;margin: 0 14px;padding: 0 8px 0 4px;}
.cjd-header-tab a img{margin-right: 3px;}
.cjd-header-tab a:hover{color: #FF7066;}
/*头部导航*/


.cjd-header-nav{width: 1200px;height: 42px;margin: 20px auto;background: rgba(255,112,102,.7);}
.cjd-header-nav li{padding: 0; line-height: 42px;font-size: 15px;}
.cjd-header-nav li a{display:inline-block;color: #ffffff;outline: 0;padding: 0 30px}

/*头部end*/
/*头部遮罩开始*/
.cjd-header-mask{position: fixed;left: 0; top: 0;right: 0;bottom:0;background-color: rgba(0,0,0,.5);display: none;z-index: 999;}
 .cjd-header-login,.cjd-header-reg{background-color: #EFEFEF;width: 450px;height: 558px;position:fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 4px;z-index: 9999;display: none;}
.cjd-header-login ul li{text-align: center;}
.cjd-header-reg ul li{text-align: center;}
.cjd-mask-no{width: 100%;height: 50px;cursor: pointer;}
.cjd-mask-no i{color: #A4A4A4;line-height: 50px;font-size: 32px;margin-right: 12px;font-style: normal;vertical-align: middle;font-weight: 100;}
.cjd-mask-no i:hover{color: #FF7066;}
.cjd-mask-face{margin: 8px 0 28px 0;}
.uname{border-top: 1px solid #D5D5D5;}
.input{width: 410px;height: 50px;color: #666;font-size: 15px;padding: 0 20px;font-weight: bold;border-bottom: 1px solid #D5D5D5;}
.cjd-mask-login{padding: 25px 0;}
.cjd-mask-reg{padding: 25px 0;}
.button{display: inline-block;width: 370px;height: 42px;color: #fff;font-size: 16px;margin-top: 30px;line-height: 42px;text-align: center;background: #ff7066;border-radius: 3px;}
.cjd-mask-icon a{display: inline-block;width: 60px;height: 36px;line-height: 36px;color: #333;margin: 8px;font-size: 14px;}
.cjd-mask-icon a i{font-size: 22px;margin-right: 4px;vertical-align: middle;}
.icon-weibo{color: #E72439;}
.icon-weixin{color: #6BDC6B;}
.icon-qq{color: #75CAED;}
.cjd-mask-a{color: #666;font-size: 14px;margin: 22px 0;}
.cjd-mask-a a{color: #666;font-size: 14px;padding: 0 14px;}
.cjd-mask-a .shangjia{color: #FF7066;}
.cjd-mask-a a:hover{text-decoration: underline;}
.cjd-mask-yes{color: #ADADB0;font-size: 14px;font-weight: bold;line-height: 25px;}
.cjd-mask-yes a{color: #ADADB0;text-decoration: underline;}
.cjd-mask-yiyou{color: #666;line-height: 85px;}
/*头部遮罩结束*/
/*尾部start*/
.cjd-wrap-footer{width: 100%;height: 355px;background: #444;border-top: 2px solid #ff7066;padding-top: 50px;}
.cjd-footer{width: 1200px;height: 355px;margin: 0 auto;}
.cjd-footer ul{padding-right: 114px}
.cjd-footer ul li{margin-bottom: 18px}
.cjd-footer-text-h{color: #9F9D9E;font-size: 17px;padding-bottom: 20px}
.cjd-footer ul li a{color: #D7D5D5;font-size: 15px;}
.cjd-footer ul li a:hover{text-decoration: underline}
.cjd-footer-bottom{width: 1200px;border-top: 1px solid #383838;margin: 30px 0;padding-top: 30px}
.cjd-footer-bottom p{color: #898989;font-size: 13px;text-align: center;line-height: 38px}
.cjd-footer-bottom p a{color: #898989;padding: 0 10px;}
/*尾部end*/
