/*初始化信息*/
.jkk-box{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
/*头部start*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body{width:100%;cursor: pointer}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
img{border:0;vertical-align:middle}
input{border: 0;outline: none}
ul,ol{list-style:none}
a{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}
.left{float: left;display: inline;}
.right{float: right;display: inline;}
.clear:after{content: "";display: block;clear: both;}
.clear{zoom: 1;}
.cjd-wrap{width: 100%;}
/*头部start*/
.cjd-wrap-header{width: 100%;height: 168px;background: url(../images/CJD-img/xj-header-bg.png) no-repeat center;}
.cjd-header{width: 1200px;height: 168px;margin: 0 auto;}
.cjd-header-top p a{color: #999;font-size: 12px;padding: 0 12px;}
.cjd-header-top p i{color: #bbbbbb;font-size: 12px;font-style: normal;}
.cjd-header-center{height: 85px;}
.cjd-form{width: 286px;height: 36px;margin: 36px 96px 0 172px;border: 1px solid #ff7066;border-radius: 24px;padding-left: 18px;}
.cjd-search{width: 230px;height: 24px;font-size: 14px;margin-top: 6px;padding: 2px 10px 2px 0;}
.cjd-but{width: 40px;height: 33px;background: url("../images/CJD-img/header-bg-img.png") no-repeat left -27px;}
.cjd-header-tab{margin-top: 36px;}
.cjd-header-tab-style{color: #FF7066;border-bottom: 4px solid #FF7066}
.cjd-header-tab a{display: inline-block;font-size: 22px;margin: 0 14px;padding: 0 8px 0 4px;}
.cjd-header-tab a img{margin-right: 3px;}
.cjd-header-tab a:hover{color: #FF7066;}
/*头部导航*/
.cjd-header-nav{width: 1200px;height: 42px;margin: 20px auto;background: rgba(255,112,102,.7);}
.cjd-header-nav li a{color: #ffffff;font-size: 15px;line-height: 42px;padding: 0 30px;}
.left-bottom{
	float: right;
}
/*头部遮罩*/
.cjd-header-mask{position: fixed;left: 0; top: 0;right: 0;bottom:0;background-color: rgba(0,0,0,.5);display: none;z-index: 999;}
 .cjd-header-login,.cjd-header-reg{background-color: #EFEFEF;width: 450px;height: 558px;position:fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 4px;z-index: 9999;display: none;}
.cjd-header-login ul li{text-align: center;}
.cjd-header-reg ul li{text-align: center;}
.cjd-mask-no{width: 100%;height: 50px;cursor: pointer;}
.cjd-mask-no i{color: #A4A4A4;line-height: 50px;font-size: 32px;margin-right: 12px;font-style: normal;vertical-align: middle;font-weight: 100;}
.cjd-mask-no i:hover{color: #FF7066;}
.cjd-mask-face{margin: 8px 0 28px 0;}
.uname{border-top: 1px solid #D5D5D5;}
.input{width: 410px;height: 50px;color: #666;font-size: 15px;padding: 0 20px;font-weight: bold;border-bottom: 1px solid #D5D5D5;}
.cjd-mask-login{padding: 25px 0;}
.cjd-mask-reg{padding: 25px 0;}
.button{display: inline-block;width: 370px;height: 42px;color: #fff;font-size: 16px;margin-top: 30px;line-height: 42px;text-align: center;background: #ff7066;border-radius: 3px;}
.cjd-mask-icon a{display: inline-block;width: 60px;height: 36px;line-height: 36px;color: #333;margin: 8px;font-size: 14px;}
.cjd-mask-icon a i{font-size: 22px;margin-right: 4px;vertical-align: middle;}
.icon-weibo{color: #E72439;}
.icon-weixin{color: #6BDC6B;}
.icon-qq{color: #75CAED;}
.cjd-mask-a{color: #666;font-size: 14px;margin: 22px 0;}
.cjd-mask-a a{color: #666;font-size: 14px;padding: 0 14px;}
.cjd-mask-a .shangjia{color: #FF7066;}
.cjd-mask-a a:hover{text-decoration: underline;}
.cjd-mask-yes{color: #ADADB0;font-size: 14px;font-weight: bold;line-height: 25px;}
.cjd-mask-yes a{color: #ADADB0;text-decoration: underline;}
.cjd-mask-yiyou{color: #666;line-height: 85px;}
.cjd-wrap-footer{width: 100%;height: 355px;background: #444;border-top: 2px solid #ff7066;margin-top: 30px;padding: 40px 0 15px;}
/*头部end*/


/*尾部start*/
.cjd-header{width: 1200px;height: 355px;margin: 0 auto;}
/*尾部end*/
/*头部end*/

/*content  start*/
.content{
	height: 2100px;
}
.cjd-header-tab-style{
	
}
.jk-banner{
	width: 1200px;
	height: 370px;
	margin: 30px 0;
	position: relative;
}
.jk-banner  .jk-banner-div{
	width: 1200px;
	height: 370px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 2s;
}
.jk-banner #show{
	opacity: 1;
}
.jk-banner .jk-banner-div img{
	width: 880px;
	height: 100%;
	float: left;
}
.jk-banner .jk-banner-div div{
	width: 320px;
	height: 100%;
	background: #2d2d2d;
	float: right;
	color: white;
	padding: 35px;
	box-sizing: border-box;
}
.jk-banner .jk-banner-div div h2{
	line-height: 30px;
	font-size: 18px;
	font-family: "微软雅黑","黑体",Arial,Helvetica,sans-serif;
	margin-bottom: 20px;
	font-weight: 400;
	height: 100px;
}
.jk-banner .jk-banner-div div p{
	width: 100%;
	height: 50px;
	font-size: 14px;
	color: #a6aba5;
	margin-bottom: 20px;
}
.jk-banner .jk-banner-div div a{
	display: inline-block;
	float: left;
	border-radius: 3px;
	font-size: 12px;
	line-height: 32px;
	padding: 0 20px;
	border: 1px solid #a6aba5;
	color: #a6aba5;
}
.jk-banner ul{
	position: absolute;
	right: 140px;
	bottom: 14px;
	display: inline-block;
}
.jk-banner ul li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ccc;
	margin: 6px;
	float: left;
	list-style: none;
}
.jk-banner ul .jkk-select{
	background: white;
	width: 12px;
	height: 12px;
}
/*轮播图完*/
/*content-con  start*/
.jkk-con{
	height: 100%;
	height: 100%;
}
.jkk-con-left{
	width: 880px;
	margin-right:40px;
	float: left;
}
.jkk-con-left-top{
	border-left: 4px solid #ff7066;
    color: #444;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 0 0 0 15px;
    position: relative;
    margin-top: 5px;
}
.jkk-con-left-one{
	width: 920px;
	height: 254px;
}
.jkk-con-left-one div{
	width: 280px;
	height: 254px;
	margin-right: 20px;
	float: left;
}
.jkk-con-left-one div p{
	font-size: 18px;
    font-weight: 100;
    color: #666;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
}
.jkk-con-left-one div span{
	display: inline-block;
	font-size: 13px;
    color: #999;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.jkk-con-left-two{
	line-height: 32px;
    padding: 20px 0 0;
    margin-top: 10px;
    margin-bottom: -5px;
}
.jkk-con-left-two a{
	display: inline-block;
    padding: 0 8px;
    margin-right: 15px;
    font-size: 16px;
    color: #b3aead;
}
.jkk-con-left-one div img{
	width: 100%;
}
.jkk-con-left-two .jkk-con-select{
	color: #ff7066;
    border-bottom: 2px solid #ff7066;
}
.cjd-con-tab-number{
    text-align: center;
}
.cjd-con-tab-number a{
    display: inline-block;
    line-height: 40px;
    background: #fff;
    padding: 0 18px;
    color: #666;
    font-size: 14px;
    margin: 0 12px;
    vertical-align: middle;
    border: 1px solid #fbfbfb;
}
.cjd-con-tab-num{
    display: inline-block;
    text-align: center;
    padding: 16px 0 32px 0;
}
.cjd-con-tab-num span{
    display: inline-block;
    line-height: 40px;
    background: #fff;
    padding: 0 18px;
    color: #666;
    font-size: 14px;
    margin: 0 12px;
    vertical-align: middle;
    border: 1px solid #fbfbfb;
}
.jkk-con-more li{
	border-bottom: 1px solid #eee;
    padding: 25px 10px 25px 0;
    min-height: 150px;
    overflow: hidden;
    position: relative;
}
.jkk-con-more li img{
	float: left;
}
.jkk-con-more li div{
	width: 605px;
	height: 150px;
	float: right;
}
.jkk-con-more li div p{
	position: relative;
    font-size: 14px;
    padding-bottom: 8px;
    color: #999;
}
.jkk-con-more li div h2{
	font-size: 20px;
    color: #444;
    line-height: 26px;
    padding-bottom: 12px;
    font-weight: 300;
}
.jkk-con-more li div span{
	color: #999;
    font-size: 15px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jkk-con-more li div small{
    position: relative;
    font-size: 12px;
    padding-top: 5px;
    color: #bbb;
}
.jkk-con-more li div p a{
	color: #ff7066;
}


.jkk-con-right{
	width: 280px;
	float: right;
}
.jkk-con-right-one ul{
	height: 254px;
    overflow: hidden;
    margin-bottom: 30px;
}
.jkk-con-right-one ul li{
	line-height: 20px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    padding: 0 0 6px;
    margin-bottom: 6px;
    position: relative;
    padding-left: 15px;
    border-bottom: 1px dashed #eee;
}
.jkk-con-right-one ul li::before{
	position: absolute;
    left: 2px;
    top: 10px;
    content: '';
    background-color: #656666;
    border-radius: 3px;
    width: 3px;
    height: 3px;
}
.jkk-con-two ul li{
	float: left;
	border-bottom: 1px solid #eee;
    height: 61px;
    overflow: hidden;
    padding: 15px 0 17px 0;
}
.jkk-con-two ul li img{
	float: left;
	margin-top: 20px;
}
.jkk-con-two ul li div{
	float: right;
	padding-left: 10px;
}
.jkk-con-two ul li div a{
	color: #b3aead;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
}
.jkk-con-two ul li div a small{
	color: #b3aead;
    font-size: 12px;
    line-height: 16px;
    float: right;
}
.jkk-con-two ul li div p{
	line-height: 16px;
    margin-bottom: 3px;
    height: 16px;
    color: #444;
    overflow: hidden;
    font-size: 14px;
}
.jkk-con-two ul li div span{
	    color: #ff7066;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.jkk-con-right a{
	color: #666;
}
.ba{
	margin-top: 20px;
}
.con-right-top{
    padding-bottom: 6px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.con-right-top div{
	padding-left: 75px;
	position: relative;
}
.con-right-top img{
	position: absolute;
	left: 0;
	top: 0;

}
.con-right-top a{
	color: #666;
}
.con-right-top a span{
	display: inline-block;
    vertical-align: middle;
    background: #ff7066;
    line-height: 16px;
    padding: 0 8px;
    margin-left: 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 3px;
}
.con-right-top div sub{
	color: #999;
}
.con-right-top p{
	font-size: 13px;
    color: #999;
    line-height: 20px;
    padding: 30px 0 15px;
}
/*content-con  end*/

/*content end

/*side start*/
.jkk-side{
	width: 66px;
	height: 228px;
	border: 1px solid #ddd;
	position: fixed;
	right: 0;
	top: 55%;
	background: #fff;
	z-index: 10000;
}
.jkk-side a{
	display: block;
    height: 64px;
    text-align: center;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    color: #bababa;
    font-size: 12px;
}
.jkk-tel i{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	top: 6px;
	background: url(../images/JKK-img/icons.png) no-repeat;
	background-position: 0 -630px;
}
.jkk-tel:hover {
	background: #ff7066;
		color: #fff;
}
.jkk-tel:hover i{
	background-position: 0 -690px;
}
.jkk-weixin i{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	top: 6px;
	background: url(../images/JKK-img/icons.png) no-repeat;
	background-position: 0 -450px;
}
.jkk-weixin:hover {
	background: #ff7066;
		color: #fff;
}
.jkk-weixin:hover i{
	background-position: 0 -570px;
}
.jkk-bar i{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	top: 6px;
	background: url(../images/JKK-img/icons.png) no-repeat;
	background-position: 0 -390px;
}
.jkk-bar:hover {
	background: #ff7066;
	color: #fff;
}
.jkk-bar:hover i{
	background-position: 0 -60px;
}
.jkk-side .jkk-gotop{
	height: 32px;
}
.jkk-gotop i{
	display: inline-block;
	width: 30px;
	height: 20px;
    position: relative;
    top: 10px;
	background: url(../images/JKK-img/icons.png) no-repeat;
	background-position: 0 -520px;
}
.jkk-gotop:hover{
background: #ff7066;	
}
.jkk-gotop:hover i{
	background-position: 0 -610px;
}
/*side end*/