body{background: #EBECED;}


/****************************   灵感首页:轮播图banner ***********************************/
#LY_insBanner{width: 85vw;
				margin:13vh auto 10vh auto;
				height:65vh;
				position: relative;}
#LY_insBanner div,#LY_insBanner>ul{position: absolute;}
#LY_insBanner .ins_banner{
							top:0;left:0;
							height: 100%;
							width: 56%;}
#LY_insBanner .ins_banner img{
								position: absolute;
								left: 0;top:0;
								height: 100%;
								width: 100%;
								-webkit-filter:saturate(1.1);
								/*-webkit-filter:sepia(0.7);*/    /* 褐 */
								opacity: 0;
								filter:alpha(opacity=0);
								transition: 0.8s;
}
#LY_insBanner .ins_banner .showme{
								z-index: 100;
								opacity: 1;
								filter:alpha(opacity=100);
}




#LY_insBanner .ins_list{top:0;right:0;overflow: hidden;height: 25%;width: 41%;background: #fff;}
#LY_insBanner .ins_list li{
								cursor: pointer;
								float: left;
								width: 33.333%;
								height: 100%;
								line-height: 3vh;
								font-size:1vw;
								color: #999;
								text-align:center;
								padding-top: 3vh;
								box-sizing: border-box;}
#LY_insBanner .ins_list li:nth-child(-n+2){border-right:0.08vw solid #999;}
#LY_insBanner .ins_list li span{
	display: block;
	width: 100%;
	height:5vh;
	text-align:center;
	font-size: 1.1vw}
#LY_insBanner .ins_list li>p{padding:0 2vw;box-sizing: border-box;}
#LY_insBanner .toDownload{bottom:0;right:0;
	width: 41%;
	height: 70%;
	cursor: pointer;}
#LY_insBanner .toDownload img{
	width: 100%;
	height:100%;
	filter:saturate(1.1);
}



/*  焦点  */
#LY_insBanner .ins_banner .ins_banner_msg{
	width: 90%;
	background: rgba(0,0,0,.4);
	color: #fff;
	position: absolute;
	z-index: 100;
	bottom:5%;left:5%;
	overflow: hidden;
	height:7vh;
	border-radius: 1vh;
	box-shadow: 0 0 10px rgba(0,0,0,.3)
}
#LY_insBanner  .ins_banner_msg p{
	width: 70%;
	line-height:7vh;
	font-size: 1.4vw;
	box-shadow:-0.5vh -0.5vh 0 rgba(255,255,255,.5);
	float: left;
	padding-left:1vw;box-sizing: border-box;
}
#LY_insBanner .ins_banner_msg>.focus{
					float:right;
					height:100%;
			/*  !!!! */
				display:flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 15px\0;
				box-sizing: border-box;
				overflow: hidden\0;
			}
#LY_insBanner  .ins_banner_msg>.focus li{
	height: 0.8vw;
	width: 0.8vw;
	border-radius: 50%;
	float: left;
	margin-right: 0.5vw;
	background: rgba(255,255,255,.5);cursor: pointer;}
#LY_insBanner  .ins_banner_msg>.focus .ck{background: rgba(255,255,255,1);}






/***************************  推荐灵感板 *****************************/
#recommond>h1{font-size: 1.3vw;height: 10vh;line-height: 10vh;width: 85vw;
				margin: 0 auto;}
.recommondList{height: 55vh;width: 85vw;
				margin: 0 auto 7vh auto;
				padding-bottom:5vh;   border-bottom:0.1vh solid gray;

				display: flex;
				align-items: center;
				justify-content: space-between;
				overflow: hidden\0;
					}
.recommondList li{
				width: 18%;
				width: 19%\0;
				height: 100%;
				background: #fff;
				float: left\0;}
.recommondList li:nth-child(-n+4){
	margin-right: 1%;
}
.recommondList li:nth-child(5){
	margin-right: 0;
}
.recommondList li h2{font-size: 1.1vw;}
.recommondList li p{font-size: 1vw;color: gray;}
.recommondList li img{width:100%;height:65%;}
.recommondList li a{margin-left:1vw;color: #666;transition: 0.5s;}
.recommondList li a:hover{color: deeppink;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
.recommondList li p,.recommondList li h2{padding: 0 0.5vw;
		box-sizing: border-box;}




/***************************  达人推荐 *****************************/
#DR_recommond>h1{font-size: 1.3vw;
					height: 10vh;
					line-height: 10vh;
					width: 85vw;
					margin: 0 auto;}
.DR_rec{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden\0;
		width:85vw;
		margin: 0 auto;			}
.DR_rec>li{
	float: left\0;
	width: 31%;
	padding:2vh 0;
	box-sizing: border-box;
	 /*border:1px solid red;*/
	overflow: hidden;
}
.DR_rec>li:nth-child(-n+5){
	margin-right:2%\0;
}
.DR_rec>li img{		height: 95%;
					width:25%;cursor: pointer;
					margin-right: 1vw;
					border-radius: 50%;
					overflow: hidden;}
.DR_rec>li img,.DR_rec>li div,.DR_rec>li p{float:left;}

.DR_rec>li .re_msg_con{font-size:0.8vw;color:#999;}
.DR_rec>li .re_msg_con span{line-height: 4vh;}
.DR_rec>li .re_msg_con span a{margin-left:1vw;color:#666;}
.DR_rec>li h2{font-size:1.2vw;}
.DR_rec>li .noti{
					height:5vh;
					width:4vw;
					background: #f56850;
					color:#fff;
					font-size: 1vw;
					line-height:5vh;
					text-align: center;
					float: right;
					border-radius:0.5vh;
					cursor: pointer;
				 }



/***************************  真实婚礼 *****************************/
 #real{margin: 5vh auto;}
 #real>h1{font-size: 1.3vw;
			height: 10vh;
			line-height: 10vh;
			width: 85vw;
			margin:0 auto;}
 #real>.real_list{
	 display:flex;
	 justify-content: space-between;
	 flex-wrap:wrap;
	 overflow: hidden\0;
	 width:85vw;
	 margin:0 auto;
 }
 #real>.real_list li{
	 float: left\0;
	 width:32%;
	  background: #fff;
	  padding-bottom: 2vh;
	  box-sizing: border-box;
	   margin-bottom:3vh;
 }
  #real>.real_list li:nth-child(-n+5){
	  margin-right:2%\0;
    }
  #real>.real_list li:nth-child(3){
	  margin-right:0;
    }
 #real>.real_list li>img{
	 display: block;
	 width:100%;
 }
 #real>.real_list li h2{font-weight: normal;
 						font-size: 1.2vw;
						padding:0 1vw;
				   		 box-sizing: border-box;
						line-height: 5vh;}

 #real>.real_list li p{
	 line-height:5vh;
	 overflow: hidden;
	 padding:0 1vw;
	 box-sizing: border-box;
 }
  #real>.real_list li p img{height:5vh;float: left;margin-right: 1vw;}
 #real>.real_list li p a{color:#999;float:left;	 font-size: 1vw;transition: 0.5s;}
 #real>.real_list li p a:hover{color:rgb(212, 60, 78);}
 #real>.real_list li p span{float: right; font-size: 1vw;color:#666;
 								border-bottom:1px dotted #666;
									cursor:help;}













/*  css sprite   CSS精灵 */
/* \0 IE8+ */
/*  display:flex; IE10+  */
